name: js-sdsl CI

on:
  push:
    branches:
      - main

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Use node.js lts/Gallium
        uses: actions/setup-node@v3
        with:
          node-version: lts/Gallium
      - name: Install dependencies
        run: yarn install
      - name: Run unit test
        run: yarn test:unit
      - name: Coveralls report
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ github.token }}
  browser-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Use node.js lts/Gallium
        uses: actions/setup-node@v3
        with:
          node-version: lts/Gallium
      - name: Install dependencies
        run: yarn install
      - name: Run browser test
        run: yarn test:chrome
  isolation-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Use node.js lts/Gallium
        uses: actions/setup-node@v3
        with:
          node-version: lts/Gallium
      - name: Install dependencies
        run: yarn install
      - name: Run isolation test
        run: yarn test:isolate
  performance-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Use node.js lts/Gallium
        uses: actions/setup-node@v3
        with:
          node-version: lts/Gallium
      - name: Install dependencies
        run: yarn install
      - name: Run performance test
        run: yarn test:performance
      - name: Save performance test result
        uses: actions/upload-artifact@v3
        with:
          name: performance.md
          path: dist/performance
  deploy:
    needs: [unit-test, browser-test, isolation-test, performance-test]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Install dependencies
        run: yarn install
      - name: Download performance test result
        uses: actions/download-artifact@v4.1.7
        with:
          name: performance.md
      - name: Generate type documentation
        run: yarn generate && mv README.md README.zh-CN.md performance.md docs/
      - name: Deploy to github pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs
          branch: gh-pages
          clean-exclude: previous/
      - name: Read package.json
        uses: tyankatsu0105/read-package-version-actions@v1
        id: package-version
      - name: Remove markdown files
        run: rm -rf docs/README.md docs/README.zh-CN.md docs/performance.md
      - name: Save a copy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs
          branch: gh-pages
          target-folder: previous/v${{ steps.package-version.outputs.version }}
  publish-main:
    needs: [unit-test, browser-test, isolation-test, performance-test]
    runs-on: ubuntu-latest
    if: ${{ contains(github.event.head_commit.message, 'publish@') }}
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Install dependencies
        run: yarn install
      - name: Build
        run: yarn build
      - name: Publish to npm
        run: yarn publish
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
  publish-isolate:
    needs: [unit-test, browser-test, isolation-test, performance-test]
    runs-on: ubuntu-latest
    if: ${{ contains(github.event.head_commit.message, 'publish@') }}
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Install dependencies
        run: yarn install
      - name: Publish isolate
        run: ./node_modules/.bin/ts-node tools/publishIsolate.ts
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
  release:
    needs: [unit-test, browser-test, isolation-test, performance-test]
    runs-on: ubuntu-latest
    if: ${{ contains(github.event.head_commit.message, 'publish@') }}
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Read package.json
        uses: tyankatsu0105/read-package-version-actions@v1
        id: package-version
      - name: Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tag_name: v${{ steps.package-version.outputs.version }}
          release_name: v${{ steps.package-version.outputs.version }}
          prerelease: false
